.nav {
  background-color: #191851;
  color: #f5f6fb;
  height: 10vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.container .navbarNav {
  max-width: 144rem;
  margin: 0 auto;
  padding: 1.5rem 3rem;
}

.navbarNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbarNav h1 {
  font-family: 'Pattaya', sans-serif;
  font-size: 4rem;
  letter-spacing: 1.2px;
}

.nav h1 a {
  color: #ff6b91;
}

.navbarNav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  font-weight: 500;
}

.navbarNav ul li a {
  color: #f5f6fb;
  padding: 0.5rem 2rem;
  transition: all 0.3s ease;
}

.navbarNav ul li a:hover {
  color: #ff6b91;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 34em) {
  .navbarNav {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbarNav ul {
    display: none;
  }
}

@media screen and (max-width: 26em) {
  .navbarNav {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbarNav ul {
    display: none;
  }
}

@media screen and (max-width: 64em) {
  .navbarNav {
    height: 100%;
  }
}
