.skills {
  background-color: #fff0f4;
  color: #191851;
  padding: 5rem 0;
  font-size: 1.6rem;
}

.skills .tools {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 3rem;
}

@media screen and (max-width: 34em) {
  .skills .tools {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 26em) {
  .skills .tools {
    grid-template-columns: 1fr;
  }
}
