.header {
  background: linear-gradient(
    to left top,
    #191970,
    #191851,
    #002f5d,
    #25239e,
    #141b4d
  );
  background-size: 400% 400%;

  animation: gradient 4s ease-in infinite alternate;
  height: 80vh;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

.headerContainer {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  gap: 2rem;
}

.headerContainer h1 {
  font-size: 8rem;
  color: #ff6b91;
}

.headerContainer p {
  font-size: 4rem;
  color: #f5f6fb;
}

.headerContainer p span {
  color: #ff6b91;
  font-weight: 700;
}

.headerContainer a {
  display: inline-block;
  padding: 1rem 2.5rem;
  font-size: 2.5rem;
  border: 1px dotted #f5f6fb;
  color: #ff6b91;
  font-weight: 500;
  transition: all 0.3s ease-in;
  cursor: pointer;
  margin-top: 3rem;
}

.headerContainer a:hover {
  letter-spacing: 1px;
}

.headerContainer span {
  color: #ff6b91;
  font-weight: 500;
}

@media screen and (max-width: 34em) {
  .headerContainer {
    align-items: flex-start;
  }

  .headerContainer h1 {
    font-size: 5rem;
  }

  .headerContainer p {
    font-size: 2.5rem;
  }

  .headerContainer a {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 26em) {
  .headerContainer {
    align-items: flex-start;
  }

  .headerContainer h1 {
    font-size: 5rem;
  }

  .headerContainer p {
    font-size: 2.5rem;
  }

  .headerContainer a {
    font-size: 1.6rem;
  }
}
