.contact {
  background: linear-gradient(to right bottom, #191851, #001e3c);
  color: #ff6b91;
  padding: 5rem 0;
  min-height: 50vh;
}

.subTitle,
.text {
  color: #ff6b91;
}

.connect {
  font-size: 3rem;
  margin: 5rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.contactLink {
  font-weight: 500;
  color: #f5f6fb;
  padding-bottom: 0.5rem;
  transition: all 0.4s ease-in;
}

.contactLink:hover {
  border-bottom: 1px dotted currentColor;
  letter-spacing: 1.3px;
}
