.contact {
  background: linear-gradient(to right bottom, #191851, #001e3c);
  color: #ff6b91;
  padding: 5rem 0;
}

.subTitle,
.text {
  color: #ff6b91;
}

.connect {
  font-size: 2rem;
  margin: 5rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 2rem;
}

.contactLink {
  font-weight: 500;
  color: #f5f6fb;
  padding-bottom: 0.5rem;
  transition: all 0.4s ease-in;
}

.contactLink:hover {
  border-bottom: 1px dotted currentColor;
  letter-spacing: 1.3px;
}

@media screen and (max-width: 34em) {
  .connect {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}

@media screen and (max-width: 26em) {
  .connect {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
}

@media screen and (max-width: 280px) {
  .connect {
    grid-template-columns: 1fr;
  }
}
