@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
p {
  letter-spacing: 1px;
}

h1 {
  font-weight: 700;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #191851;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

.description {
  margin-bottom: 2rem;
  text-align: center;
  color: #191851;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1.5rem 3rem;
}

.details h1 {
  text-align: center;
  color: #191851;
}

.details p span a {
  color: #ff6b91;
  text-decoration: underline;
}

.stack {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  margin: 10rem 0;
}

.stack p {
  color: #ff6b91;
  font-weight: 700;
}

.stack a,
li {
  color: #191851;
}

.stack .tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.problem {
  margin: 10rem 0;
}

.lesson {
  margin: 10rem 0;
}

.back {
  display: inline-block;
  padding: 1rem 3rem;
  border: 1px dotted #191851;
  color: #191851;
  margin: 5rem 0;
  transition: all 0.3s ease;
}

.back:hover {
  background-color: #191851;
  color: #fff;
}

@media screen and (max-width: 57em) {
  html {
    font-size: 52%;
  }
}
@media screen and (max-width: 48em) {
  html {
    font-size: 49.5%;
  }
}

@media screen and (max-width: 34em) {
  html {
    font-size: 50%;
  }

  .stack {
    flex-direction: column;
  }
}

@media screen and (max-width: 26em) {
  html {
    font-size: 50%;
  }

  .stack {
    flex-direction: column;
  }
}
