@import url('https://fonts.googleapis.com/css2?family=Alice&family=Nunito:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
p {
  letter-spacing: 1px;
}

h1 {
  font-weight: 700;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #191851;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

.description {
  margin-bottom: 2rem;
  text-align: center;
  color: #191851;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1.5rem 3rem;
}

@media screen and (max-width: 57em) {
  html {
    font-size: 52%;
  }
}
@media screen and (max-width: 48em) {
  html {
    font-size: 49.5%;
  }
}

@media screen and (max-width: 34em) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 26em) {
  html {
    font-size: 50%;
  }
}
