.about {
  background-color: #fff0f4;
  color: #191851;
  padding: 5rem 0;
}

.aboutMe .text {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 34em) {
  .aboutMe {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 26em) {
  .aboutMe {
    justify-content: flex-start;
  }
}
