.about {
  background-color: #fff0f4;
  color: #191851;
  padding: 5rem 0;
}

.aboutMe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  justify-content: center;
}

.text {
  display: flex;
  align-items: flex-start;
  font-size: 1.6rem;
  gap: 2rem;
}

.text .num {
  font-size: 3rem;
  color: #001e3c;
  font-weight: 700;
}

@media screen and (max-width: 34em) {
  .aboutMe {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 26em) {
  .aboutMe {
    grid-template-columns: 1fr;
  }
}
